{{#if resume.awards.length}}
<section id="awards">
	<div class="title">AWARDS</div>
	{{#each resume.awards}}
	<div class="item">
			{{title}} ({{awarder}}){{#unless @last}},{{/unless}}
	</div>
	{{/each}}
</section>
{{/if}}
